:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-grey: #A9A9A9;
  --blue-focus-button: #669EC0;
  --blue-avtive-button: #5496BD;
  --basic-brown: #766357;
  --brown-focus: #604E43;
  --brown-active: #503E33;
}

.page {
  height: 100%;
}

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
}

.site-navigation {
  min-width: 1074px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.site-navigation li:nth-child(2) {
  margin-right: 280px;
}

.main-navigation {
  min-height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-navigation a {
  color: var(--basic-black);
  font-weight: bold;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.active a {
  color: var(--basic-brown);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-page {
  align-items: center;
}

.main-welcome {
  background-image: url(../img/background-photo.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.main-welcome p {
  margin: 0;
  text-align: center;
  padding-top: 76px;
}

.shape {
  display:block;
  margin: auto;
}

.causes-heading {
  min-height: 173px;
  padding-top: 43px;
}

.causes-heading h2 {
  font-size: 21px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 30px;
}

.causes-grid {
  width: 1220px;
  margin: auto;
}

.grid-one {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.grid-second {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 37px;
  margin-bottom: 37px;
}

.grid-second .causes-container h3 {
  margin-top: 0;
  margin-top: 28px;
}

.grid-third {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.grid-fourth {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.causes-container {
  min-height: 256px;
  width: 400px;
  text-align: center;
}

.causes-container-img {
  height: 256px;
}

.news-pic {
  width: 820px;
  max-height: 256px;
}

.causes-list h3 {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  margin-top: 47px;
}

.causes-list p {
  line-height: 21px;
  margin: 0;
  margin-top: 25px;
}

.search-container h2 {
  font-size: 30px;
  line-height: 24px;
}

.button {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
  width: 568px;
  min-height: 86px;
}

.button:hover,
.button:focus {
  background-color: var(--brown-focus);
}

.button:active {
  background-color: var(--brown-active);
  color: rgba(255, 255, 255, 0.3);
}

.form-search {
  font-weight: bold;
}

.form-search ::placeholder {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.form-search input {
  border: none;
  background-color: #F2F2F2;;
}

.form-search input[type="text"]:focus {
  border: 2px solid #E5E5E5;
}

.form-search input[type="text"]:hover {
  background-color: #EBEBEB;
}

.search {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  width: 458px;
  min-height: 58px;
}

.search:hover,
.search:focus {
  background-color: var(--blue-focus-button);
}

.search:active {
  background-color: var(--blue-avtive-button);
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  outline: 4px solid red;
  outline-offset: -4px;
}

.container {
  width: 1220px;
  margin: auto;
}

.main-footer .container {
  min-height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact {
  outline: 2px solid green;
  outline-offset: -2px;
  text-align: left;
}

.contact a {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  margin: 0;
  margin-left: 117px;
  margin-top: 23px;
}

.contact-social {
  outline: 2px solid yellow;
  outline-offset: -2px;
}

.social-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-social {
  text-align: center;
  vertical-align: middle;
  background-color: var(--basic-blue);
  border: none;
  width: 46px;
  min-height: 48px;
}

.icon-social img {
  vertical-align: middle;
}

.icon-social:hover,
.icon-social:focus {
  background-color: var(--blue-focus-button);
}

.icon-social:active {
  background-color: var(--blue-avtive-button);
}

.icon-social:active img {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.copyright {
  outline: 2px solid magenta;
  outline-offset: -2px;
}

.copyright p {
  display: inline-block;
  margin: 0;
}

.copyright-pic {
  margin-top: 38px;
}

/* страница каталог */

.container-hotels {
  width: 1074px;
  margin: auto;
  outline: 4px solid red;
  outline-offset: -4px;
}

.list-hotels {
  height: 150px;
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.hotel-image {
  margin-right: 29px;
}

.hotel-reserve {
  text-align: left;
  flex-grow: 2;
}

.list-hotels .hotel-reserve p {
  margin-top: 7px;
  margin-bottom: 6px;
}

.list-hotels li {
  margin-top: 30px;
}

.list-hotels h3,
.list-hotels p {
  margin: 0;
}

.hotel-raiting p {
  margin-top: 40px;
}

.name-hotel {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.name-hotel:focus,
.name-hotel:hover {
  color: var(--blue-focus-button);
}

.name-hotel:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-detailed {
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  width: 110px;
  min-height: 27px;
  color: var(--basic-white);
}

.button-detailed:hover,
.button-detailed:focus {
  background-color: var(--basic-blue);
}

.button-detailed:active {
  background-color: var(--blue-avtive-button);
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
  width: 142px;
  min-height: 27px;
  color: var(--basic-white);
}

.button-book:hover,
.button-book:focus {
  background-color: var(--brown-focus);
}

.button-book:active {
  background-color: var(--brown-active);
  color: rgba(255, 255, 255, 0.3);
}
