:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-grey: #A9A9A9;
  --blue-focus-button: #669EC0;
  --blue-avtive-button: #5496BD;
  --basic-brown: #766357;
  --brown-focus: #604E43;
  --brown-active: #503E33;
}

.page {
  height: 100%;
}

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container-center {
  margin: auto;
  max-width: 1200px;
}

.main-navigation {
  min-height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
}

.site-navigation {
  width: 1054px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.site-navigation li a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation li:nth-child(2) {
  margin-right: 287px;
}

.site-navigation li:nth-child(3) {
  margin-right: 18px;
}


.site-navigation a {
  color: var(--basic-black);
  font-weight: bold;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.active a {
  color: var(--basic-brown);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-page {
  align-items: center;
  position: relative;
}

.main-welcome {
  background-image: url(../img/background-photo.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  height: 509px;
  z-index: -1;
  position: relative;
}

.main-welcome p {
  margin: 0;
  text-align: center;
  padding-top: 76px;
}

.shape {
  display:block;
  margin: auto;
  margin-top: 18px;
}

.causes-heading {
  min-height: 173px;
  padding-top: 43px;
  width: 519px;
  margin: auto;
}

.causes .causes-heading h2 {
  font-size: 21px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 40px;
}

.causes-list {
  width: 1200px;
  margin: 0 auto;
}

.grid-one {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.grid-second {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 50px;
  margin-bottom: 24px;
}

.grid-second .causes-container h3 {
  margin-top: 0;
  margin-top: 23px;
}

li.causes-container.souvenirs h3 {
  margin-top: 17px;
}

.grid-third {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.grid-fourth {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.causes-container {
  min-height: 256px;
  width: 400px;
  text-align: center;
}

.low-pic {
  margin-top: 7px;
}

.causes-container-img {
  height: 256px;
}

.news-pic {
  width: 800px;
  max-height: 256px;
}

.causes-list h3 {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  margin-top: 47px;
}

.causes-list p {
  line-height: 21px;
  margin: 0;
  margin-top: 25px;
}

.main-search {
  position: absolute;
  left: 316px;
}

.search-container {
  min-height: 155px;
  margin: auto;
  margin-top: 50px;
}

.search-container h2 {
  font-size: 30px;
  line-height: 24px;
  margin: 0;
  padding-top: 5px;
}

.search-container p {
  margin: 0;
  margin-top: 30px;
}

.button-search-hotel {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
  padding: 30px 138px;
}

.button-search-hotel:hover,
.button-search-hotel:focus {
  background-color: var(--brown-focus);
}

.button-search-hotel:active {
  background-color: var(--brown-active);
  color: rgba(255, 255, 255, 0.3);
}

.form-search {
  font-weight: bold;
  width: 513px;
  min-height: 334px;
  margin: auto;
  padding-top: 54px;
  padding-left: 55px;
  text-align: left;
  position: relative;
  background-color: var(--basic-white);
  z-index: 1;
}

.form-search p {
  margin: 0;
  margin-bottom: 27px;
}

.form-search ::placeholder {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.form-search input {
  border: none;
  background-color: #F2F2F2;
  height: 38px;
}

.date {
  width: 335px;
  margin-left: 20px;
  padding-left: 10px;
}

.old-people {
  margin-right: 47px;
}

.people {
  width: 114px;
  text-align: center;
}

.old-man {
  margin-left: 35px;
}

.child {
  margin-left: 22px;
}

.arrival {
  position: absolute;
  left: 483px;
  top: 64px;
}

.deporter {
  position: absolute;
  left: 483px;
  top: 131px;
}

.calendar-pic:hover path,
.calendar-pic:focus path {
  fill: var(--basic-black);
}

.calendar-pic:active path {
  fill: var(--basic-blue);
}

.old-minus {
  position: absolute;
  top: 209px;
  left: 180px;
}

.old-plus {
  position: absolute;
  top: 204px;
  left: 256px;
}

.child-minus {
  position: absolute;
  top: 209px;
  left: 413px;
}

.child-plus {
  position: absolute;
  top: 204px;
  left: 488px;
}

.plus:hover path,
.plus:focus path {
  fill: var(--basic-black);
}

.plus:active path {
  fill: var(--basic-blue);
}

.minus:hover path,
.minus:focus path {
  fill: var(--basic-black);
}

.minus:active path {
  fill: var(--basic-blue);
}

.form-search input[type="text"]:focus {
  border: 2px solid #E5E5E5;
}

.form-search input[type="text"]:hover {
  background-color: #EBEBEB;
}

.search {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  padding: 16px 196px;
  margin-top: 28px;
}

.search:hover,
.search:focus {
  background-color: var(--blue-focus-button);
}

.search:active {
  background-color: var(--blue-avtive-button);
  color: rgba(255, 255, 255, 0.3);
}

.decorate-container {
  height: 764px;
  background-color: var(--basic-white);
}

.map {
  border: none;
}

.map-container {
  position: absolute;
  top: 2113px;
  z-index: 0;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 1;
}

.container {
  width: 1200px;
  margin: auto;
}

.main-footer .container {
  min-height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact {
  text-align: left;
}

.contact p {
  margin: 0;
  margin-top: 21px;
}

p.paragraph-tel {
  margin-top: 7px;
}

.contact a {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  margin: 0;
  margin-left: 131px;
}

.contact-social {
  min-height: 120px;
}

.social-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 46px;
}

.icon-social {
  background-color: var(--basic-blue);
  border: none;
}

.twitter {
  padding-top: 15px;
  padding-right: 14px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.facebook {
  padding-top: 15px;
  padding-right: 17px;
  padding-bottom: 15px;
  padding-left: 17px;
  margin-left: 6px;
  margin-right: 6px;
}

.youtube {
  padding-top: 15px;
  padding-right: 13px;
  padding-bottom: 15px;
  padding-left: 13px;
}

.icon-social img {
  vertical-align: middle;
}

.icon-social:hover,
.icon-social:focus {
  background-color: var(--blue-focus-button);
}

.icon-social:active {
  background-color: var(--blue-avtive-button);
}

.icon-social:active img {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.copyright {
  display: flex;
}

.copyright p {
  display: block;
  margin: 0;
  margin-top: 47px;
  margin-left: 102px;
}

.copyright-pic {
  margin-top: 38px;
  margin-left: 10px;
  width: 115px;
  height: 41px;
}

.copyright a:hover path,
.copyright a:focus path {
  fill: var(--basic-blue);
}

.copyright a:active path {
  fill: #BDBBBC;
}

/* страница каталог */

.reserve-hotel-table {
  background-image: url(../img/background-catalog.jpg);
  background-color: var(--basic-black);
  min-height: 217px;
}

.hotel-checked {
  width: 1054px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: var(--basic-white);
  min-height: 217px;
}

.hotel-checked fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.hotel-checked legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  padding-top: 27px;
}

.hotel-checked label {
  font-size: 14px;
  line-height: 21px;
}

.infrastructure,
.type-hotels {
  text-align: left;
}

fieldset.infrastructure {
  display: flex;
}

.infrastructure li {
  margin-top: 23px;

}

fieldset.type-hotels {
  margin-left: 118px;
}

.type-hotels li {
  margin-top: 23px;
}

.cost {
  flex-grow: 2;
  text-align: right;
}

.cost-container {
  width: 327px;
  margin-left: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 217px;
}

.interval {
  display: flex;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.interval p {
  width: 163px;
  text-align: center;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-cost {
  align-self: center;
  width: 330px;
}

.button-submit {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  padding: 7px 35px;
  align-self: center;
}

.button-submit:hover,
.button-submit:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.container-hotels {
  width: 1200px;
  margin: auto;
}

.list-hotels li {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 73px;
  padding-right: 73px;
}

.hotel-info {
  display: flex;
  justify-content: space-between;
}

.hotel-reserve {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0;
  flex-grow: 2;
  margin-left: 29px;
}

.hotel-reserve p {
  margin: 0;
}

.hotel-raiting {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  text-align: right;
}

.hotel-raiting p {
  margin: 0;
}

.raiting {
  background-color: #f2f2f2;
  padding-left: 15px;
  padding-right: 15px;
}

.name-hotel {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.name-hotel:focus,
.name-hotel:hover {
  color: var(--blue-focus-button);
}

.name-hotel:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-detailed {
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  padding-left: 17px;
  padding-right: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: var(--basic-white);
}

.button-detailed:hover,
.button-detailed:focus {
  background-color: var(--basic-blue);
}

.button-detailed:active {
  background-color: var(--blue-avtive-button);
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
  padding-left: 16px;
  padding-right: 17px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: var(--basic-white);
}

.button-book:hover,
.button-book:focus {
  background-color: var(--brown-focus);
}

.button-book:active {
  background-color: var(--brown-active);
  color: rgba(255, 255, 255, 0.3);
}
